@use "../variables/spacers.scss" as *;

.pzh-m-1{ margin: $space-1; }

.pzh-mt-1{ margin-top: $space-1; }

.pzh-mr-1{ margin-right: $space-1; }

.pzh-mb-1{ margin-bottom: $space-1; }

.pzh-ml-1{ margin-left: $space-1; }

.pzh-p-1{ padding: $space-1; }

.pzh-pt-1{ padding-top: $space-1; }

.pzh-pr-1{ padding-right: $space-1; }

.pzh-pb-1{ padding-bottom: $space-1; }

.pzh-pl-1{ padding-left: $space-1; }

.pzh-m-2{ margin: $space-2; }

.pzh-mt-2{ margin-top: $space-2; }

.pzh-mr-2{ margin-right: $space-2; }

.pzh-mb-2{ margin-bottom: $space-2; }

.pzh-ml-2{ margin-left: $space-2; }

.pzh-p-2{ padding: $space-2; }

.pzh-pt-2{ padding-top: $space-2; }

.pzh-pr-2{ padding-right: $space-2; }

.pzh-pb-2{ padding-bottom: $space-2; }

.pzh-pl-2{ padding-left: $space-2; }

.pzh-m-3{ margin: $space-3; }

.pzh-mt-3{ margin-top: $space-3; }

.pzh-mr-3{ margin-right: $space-3; }

.pzh-mb-3{ margin-bottom: $space-3; }

.pzh-ml-3{ margin-left: $space-3; }

.pzh-p-3{ padding: $space-3; }

.pzh-pt-3{ padding-top: $space-3; }

.pzh-pr-3{ padding-right: $space-3; }

.pzh-pb-3{ padding-bottom: $space-3; }

.pzh-pl-3{ padding-left: $space-3; }

.pzh-m-4{ margin: $space-4; }

.pzh-mt-4{ margin-top: $space-4; }

.pzh-mr-4{ margin-right: $space-4; }

.pzh-mb-4{ margin-bottom: $space-4; }

.pzh-ml-4{ margin-left: $space-4; }

.pzh-p-4{ padding: $space-4; }

.pzh-pt-4{ padding-top: $space-4; }

.pzh-pr-4{ padding-right: $space-4; }

.pzh-pb-4{ padding-bottom: $space-4; }

.pzh-pl-4{ padding-left: $space-4; }

.pzh-m-5{ margin: $space-5; }

.pzh-mt-5{ margin-top: $space-5; }

.pzh-mr-5{ margin-right: $space-5; }

.pzh-mb-5{ margin-bottom: $space-5; }

.pzh-ml-5{ margin-left: $space-5; }

.pzh-p-5{ padding: $space-5; }

.pzh-pt-5{ padding-top: $space-5; }

.pzh-pr-5{ padding-right: $space-5; }

.pzh-pb-5{ padding-bottom: $space-5; }

.pzh-pl-5{ padding-left: $space-5; }

.pzh-m-6{ margin: $space-6; }

.pzh-mt-6{ margin-top: $space-6; }

.pzh-mr-6{ margin-right: $space-6; }

.pzh-mb-6{ margin-bottom: $space-6; }

.pzh-ml-6{ margin-left: $space-6; }

.pzh-p-6{ padding: $space-6; }

.pzh-pt-6{ padding-top: $space-6; }

.pzh-pr-6{ padding-right: $space-6; }

.pzh-pb-6{ padding-bottom: $space-6; }

.pzh-pl-6{ padding-left: $space-6; }

.pzh-m-8{ margin: $space-8; }

.pzh-mt-8{ margin-top: $space-8; }

.pzh-mr-8{ margin-right: $space-8; }

.pzh-mb-8{ margin-bottom: $space-8; }

.pzh-ml-8{ margin-left: $space-8; }

.pzh-p-8{ padding: $space-8; }

.pzh-pt-8{ padding-top: $space-8; }

.pzh-pr-8{ padding-right: $space-8; }

.pzh-pb-8{ padding-bottom: $space-8; }

.pzh-pl-8{ padding-left: $space-8; }

.pzh-m-10{ margin: $space-10; }

.pzh-mt-10{ margin-top: $space-10; }

.pzh-mr-10{ margin-right: $space-10; }

.pzh-mb-10{ margin-bottom: $space-10; }

.pzh-ml-10{ margin-left: $space-10; }

.pzh-p-10{ padding: $space-10; }

.pzh-pt-10{ padding-top: $space-10; }

.pzh-pr-10{ padding-right: $space-10; }

.pzh-pb-10{ padding-bottom: $space-10; }

.pzh-pl-10{ padding-left: $space-10; }

.pzh-m-12{ margin: $space-12; }

.pzh-mt-12{ margin-top: $space-12; }

.pzh-mr-12{ margin-right: $space-12; }

.pzh-mb-12{ margin-bottom: $space-12; }

.pzh-ml-12{ margin-left: $space-12; }

.pzh-p-12{ padding: $space-12; }

.pzh-pt-12{ padding-top: $space-12; }

.pzh-pr-12{ padding-right: $space-12; }

.pzh-pb-12{ padding-bottom: $space-12; }

.pzh-pl-12{ padding-left: $space-12; }

.pzh-m-14{ margin: $space-14; }

.pzh-mt-14{ margin-top: $space-14; }

.pzh-mr-14{ margin-right: $space-14; }

.pzh-mb-14{ margin-bottom: $space-14; }

.pzh-ml-14{ margin-left: $space-14; }

.pzh-p-14{ padding: $space-14; }

.pzh-pt-14{ padding-top: $space-14; }

.pzh-pr-14{ padding-right: $space-14; }

.pzh-pb-14{ padding-bottom: $space-14; }

.pzh-pl-14{ padding-left: $space-14; }

.pzh-m-16{ margin: $space-16; }

.pzh-mt-16{ margin-top: $space-16; }

.pzh-mr-16{ margin-right: $space-16; }

.pzh-mb-16{ margin-bottom: $space-16; }

.pzh-ml-16{ margin-left: $space-16; }

.pzh-p-16{ padding: $space-16; }

.pzh-pt-16{ padding-top: $space-16; }

.pzh-pr-16{ padding-right: $space-16; }

.pzh-pb-16{ padding-bottom: $space-16; }

.pzh-pl-16{ padding-left: $space-16; }

.pzh-m-20{ margin: $space-20; }

.pzh-mt-20{ margin-top: $space-20; }

.pzh-mr-20{ margin-right: $space-20; }

.pzh-mb-20{ margin-bottom: $space-20; }

.pzh-ml-20{ margin-left: $space-20; }

.pzh-p-20{ padding: $space-20; }

.pzh-pt-20{ padding-top: $space-20; }

.pzh-pr-20{ padding-right: $space-20; }

.pzh-pb-20{ padding-bottom: $space-20; }

.pzh-pl-20{ padding-left: $space-20; }

.pzh-m-24{ margin: $space-24; }

.pzh-mt-24{ margin-top: $space-24; }

.pzh-mr-24{ margin-right: $space-24; }

.pzh-mb-24{ margin-bottom: $space-24; }

.pzh-ml-24{ margin-left: $space-24; }

.pzh-p-24{ padding: $space-24; }

.pzh-pt-24{ padding-top: $space-24; }

.pzh-pr-24{ padding-right: $space-24; }

.pzh-pb-24{ padding-bottom: $space-24; }

.pzh-pl-24{ padding-left: $space-24; }

.pzh-m-32{ margin: $space-32; }

.pzh-mt-32{ margin-top: $space-32; }

.pzh-mr-32{ margin-right: $space-32; }

.pzh-mb-32{ margin-bottom: $space-32; }

.pzh-ml-32{ margin-left: $space-32; }

.pzh-p-32{ padding: $space-32; }

.pzh-pt-32{ padding-top: $space-32; }

.pzh-pr-32{ padding-right: $space-32; }

.pzh-pb-32{ padding-bottom: $space-32; }

.pzh-pl-32{ padding-left: $space-32; }