@use "./breakpoint.scss" as bp;
@use "../../dist/scss/tokens" as tokens;

@mixin container() {
  padding-left: tokens.$inset-m;
  padding-right: tokens.$inset-m;
  width: 100%;
  box-sizing: border-box;

  @include bp.breakpoint-from(tablet) {
    padding: 0 tokens.$inset-2xl;
  }

  @include bp.breakpoint-from(laptop) {
    padding: 0 80px; // Larger container padding
  }
}

@mixin container-with-dna() {
  $extra-space: 48px;
  padding-left: tokens.$inset-l;
  padding-right: calc(#{tokens.$inset-l} + #{$extra-space});

  @include bp.breakpoint-from(tablet) {
    padding-left: tokens.$inset-2xl;
    padding-right: calc(#{tokens.$inset-2xl} + #{$extra-space});
  }

  @include bp.breakpoint-from(laptop) {
    padding-left: 80px;
    padding-right: calc(80px + #{$extra-space});
  }
}
