@use "../../../dist/scss/tokens" as *;

$c: progress-spinner;

.#{$c} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--progress-spinner-size, $progress-spinner-size);
  height: var(--progress-spinner-size, $progress-spinner-size);
}

.#{$c}__svg {
  width: 100%;
  height: 100%;
  animation: progress-spinner-rotate var(--progress-spinner-animation-duration, $progress-spinner-animation-duration) linear infinite;
}

.#{$c}__track {
  stroke: var(--progress-spinner-track-color, $progress-spinner-track-color);
}

.#{$c}__circle {
  stroke: var(--progress-spinner-color, $progress-spinner-color);
  stroke-linecap: round;
  animation: progress-spinner-dash var(--progress-spinner-animation-duration, $progress-spinner-animation-duration) ease-in-out infinite;
}

@keyframes progress-spinner-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
